{% extends "base.html" %}

{% block title %}Bienvenido{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header custom-color text-center">
                <h1>¡Bienvenido!</h1>
            </div>
            <div class="card-body text-center">
                <p>Ahora puedes escanear los QR de los asistentes para registrar su asistencia.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
